body {
  font-family: sans-serif;
  padding-top: 3.5rem;
  letter-spacing: 0;
}

h1 {
  letter-spacing: 0;
}

h5.title {
  font-size: 16px;
  text-transform: none;
  margin-bottom: 0;
  font-weight: normal;
  letter-spacing: 0;
}

.badge {
  letter-spacing: 0;
}

.status-details {
  background: #073642;
  border-radius: 4px;
  color: white;
  font-family: monospace;
}

.status-messages pre {
  font-family: monospace;
  margin-bottom: 0;
  color: white;
}

.hl-json .string { color: #2aa198; }
.hl-json .number { color: #2aa198; }
.hl-json .boolean { color: #2aa198; }
.hl-json .null { color: #b58900; }
.hl-json .key { color: #859900; }

.list-group-item {
  padding: 0 1rem;
}

.navbar {
  padding: .5rem 1rem;
}
