<form action="/auth" method="POST" accept-charset="UTF-8">
  <div class="form-group">
    <label class="col-form-label" for="token">Provide your authentication token</label>
    <input type="password" class="form-control" placeholder="Token" required name="token" id="token" />
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary btn">
      Authenticate
    </button>
  </div>
</form>
