{{ if .authenticated }}
  <span id="ws_status" class="float-right text-white bg-success px-2 py-0">
    Waiting&hellip;
  </span>

  <p>
    <small class="timeleft">&hellip;</small> |
    <a class="update-status" href="javascript:;">
      &#128472; Refresh now
    </a>
  </p>

  <div class="list-group">
    {{ range .applications }}
      <div class="list-group-item" data-identifier="{{ .Identifier }}">
        <a href="#{{ .Identifier }}_details" class="float-right" data-toggle="collapse">
          <small>&#x22EE;</small>
        </a>
        <h5 class="title">
          {{ .HumanName }}
          <span class="status text-white ml-2 px-2">&hellip;</span>
        </h5>
        <div class="collapse" id="{{ .Identifier }}_details">
          <div class="status-details">
            <div class="mt-2 p-2 status-messages"></div>
          </div>
        </div>
      </div>
    {{ end }}
  </div>
{{ else }}
  <div class="text-center">
    <h1 class="text-danger">You are not authenticated.</h1>
    <p><a href="/auth">Authenticate</a> yourself in order to monitor.</p>
  </div>
{{ end }}
