<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ .title }} - {{ .app_name }}</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/app.css" />
    <link rel="shortcut icon" href="/favicon.jpg" type="image/x-icon" />
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/iris-ws.js"></script>
    <script>
      const Sentinel = window.Sentinel = {};
      Sentinel.authenticated = {{ .authenticated }};
    </script>
    <script src="/js/app.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="/favicon.jpg" style="max-height:30px;border-radius:3px" />
          {{ .app_name }}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="navbar-nav">
            <!--<li class="nav-item active">-->
            <li class="nav-item">
              <a class="nav-link" href="/">Monitor</a>
            </li>
          </ul>

          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item mr-0">
              {{ if .authenticated }}
                <a class="nav-link" href="/logout">Logout</a>
              {{ else }}
                <a class="nav-link" href="/auth">Authenticate</a>
              {{ end }}
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          {{ if .notice }}
            <div class="alert alert-dismissible alert-success">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>Success!</strong> {{ .notice }}
            </div>
          {{ end }}

          {{ if .alert }}
            <div class="alert alert-dismissible alert-danger">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>Woops!</strong> {{ .alert }}
            </div>
          {{ end }}

          <div class="my-4">
            {{ yield }}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
